body {
  margin: 0;
  background-color: #f8f8f8;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
}

.item-test {
  user-select: none;
  /*pointer-events: none;*/
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 107px;
  border-radius: 20px;
  color: #595959;
}
.item-test-wrap {
  display: flex;
}

.item-test-wrap {
  display: flex;
}

.item-test {
  user-select: none;
  /*pointer-events: none;*/
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 107px;
  border-radius: 20px;
  color: #595959;
}

  .item-test.reference .item-test-header {
      color: #B7B7B7;
      background-color: #F6F6F6;
  }

  .item-test.condition, .item-test.condition .item-test-header {
      background-color: #C4C4C4;
      color: #000;
      text-transform: uppercase;
  }

  .item-test.envoi.selected {
      border: 3px solid green;
  }

  .item-test.attente.selected {
      border: 3px solid #FFCC17;
  }

  .item-test.conditionnee.selected {
      border: 3px solid #FF4949;
  }

  .item-test.retour.selected {
      border: 3px solid #31E0EB;
  }

  .item-test.retourUser.selected {
      border: 3px solid #E33D97;
  }

  .item-test.mail.selected {
      border: 3px solid #B737E4;
  }

  .item-test.scenario.selected {
      border: 3px solid #EFF30A;
  }

  .item-test.gestion.selected {
      border: 3px solid #A8AFB4;
  }

.item-test-header {
  font-size: 16px;
  color: #000000;
  text-transform: capitalize;
  min-height: 60px;
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 15px 15px 0 0;
}

  .item-test-header h4 {
      width: 150px;
      text-align: center;
      font-size: 14px;
      font-weight: bolder;
      display: block;
      margin-block-start: 1.33em;
      margin-block-end: 1.33em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }

  .item-test-header .icon-item-test-header {
      width: 24px;
      height: 24px;
  }

.item-test-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFFFFF;
  align-items: center;
  position: relative;
  box-shadow: inset 0px 3px 3px 0px #00000026;
  box-sizing: border-box;
}

  .item-test-content ul.item-action-list {
      padding: unset;
      list-style: none;
      margin-block-start: 1em;
  }

      .item-test-content ul.item-action-list li {
          margin-bottom: 8px;
      }

  .item-test-content .box-item-list .item-priority {
      font-size: 16px;
      margin-right: 5px;
      color: #000000;
      font-weight: bold;
  }

  .item-test-content .box-item-list {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

.reverseIcon {
  transform: rotate(180deg);
}

.item-test-content .all-document-header {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

  .item-test-content .all-document-header svg {
      width: 20px;
      height: 20px;
  }

  .item-test-content .all-document-header h4.all-document-title {
      font-size: 14px;
      margin: unset;
  }

.item-test-content .all-document {
  margin-left: 50px;
}

  .item-test-content .all-document p {
      width: 180px;
      font-size: 12px;
      position: relative;
  }

      .item-test-content .all-document p::before {
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: 0 0;
          border: 1px solid #a9b4ca;
          position: absolute;
          left: -13px;
          top: 4px;
      }

.item-test-content .box-item-list .js-drag-content {
  cursor: move;
}

.item-test-content .item-list {
  cursor: pointer;
  background-color: #C4C4C4;
  width: 170px;
  color: #595959;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 4px 6px;
  border-radius: 5px;
}

.item-test-content .parameter {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: inset 0px -23px 3px -21px #00000026; */
}

  .item-test-content .parameter .all-param-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
  }

      .item-test-content .parameter .all-param-header svg {
          width: 20px;
          height: 20px;
          margin-left: 15px;
      }

  .item-test-content .parameter h4.all-param-title {
      font-size: 16px;
      margin: 5px 0;
  }

.separation {
  width: 90%;
  height: 2px;
  background-color: #dedede;
}

.item-test-content .all-param .all-param-item {
  font-size: 12px;
  position: relative;
}

  .item-test-content .all-param .all-param-item::before {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: 0 0;
      border: 1px solid #a9b4ca;
      position: absolute;
      left: -13px;
      top: 4px;
  }

.item-test-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  height: 44px;
  font-size: 14px;
  padding: 0 30px;
  text-align: center;
  border-radius: 0 0 15px 15px;
}

.item-test.default .item-test-footer {
  background-color: #ffffff;
}

.item-test.envoi .item-test-footer {
  background-color: rgba(0, 128, 0, 20%);
}

.item-test.attente .item-test-footer {
  /* background-color: #ffff; */
  background-color: #F1E7C7;
}

.item-test.conditionnee .item-test-footer {
  background-color: rgb(255, 73, 73 / 20%);
}

.item-test.retour .item-test-footer {
  background-color: rgb(49, 224, 235 / 20%);
}

.item-test.retourUser .item-test-footer {
  background-color: rgb(227, 61, 151 / 20%);
}

.item-test.mail .item-test-footer {
  background-color: rgb(183, 55, 228 / 20%);
}

.item-test.scenario .item-test-footer {
  background-color: rgb(239, 243, 10 / 20%);
}

.item-test.gestion .item-test-footer {
  background-color: rgb(168, 175, 180 / 20%);
}

.item-test-footer h4 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.item-test-btn-show-nested {
  user-select: none;
  cursor: pointer;
  position: relative;
  top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 73px;
  width: 40px;
}

  .item-test-btn-show-nested.conditionnee {
      background-color: #FF494920;
  }

  .item-test-btn-show-nested.retour {
      background-color: #31e0eb20;
  }

  .item-test-btn-show-nested.retourUser {
      background-color: #e33d9733;
  }

  .item-test-btn-show-nested .feather {
      width: 14px;
      height: 14px;
  }

  .item-test-btn-show-nested.showed svg.chevron {
      transform: rotate(180deg);
  }

  .item-test-btn-show-nested span {
      font-size: 10px;
  }


  svg.svgCond {
    position: absolute;
    overflow: visible;
}

.cond {
    display: flex;
    flex-direction: column;
}


.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}


span.right-line {
    height: 2px;
    width: 50px;
    background-color: white;
    position: relative;
    top: 50px;
    left: 0;
}

span.left-line {
    height: 2px;
    width: 50px;
    background-color: white;
    position: relative;
    top: 50px;
    right: 0;
}

/* SideBar Affichage Scénario */

main.side-menu-list-scenario {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    height: 100%;
    width: 310px;
    padding: 35px 20px 30px;
    z-index: 999;
    background-color: white;
}

.btn-add-scenario {
    text-decoration: none;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    border: none;
    border-radius: 4px;
    align-items: center;
    width: 120px;
    height: 30px;
    padding-right: 13px;
    background-color: #C4C4C4;
}

    .btn-add-scenario svg {
        width: 18px;
        height: 18px;
    }

.title-grp {
    /* display: inline-block; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.old-version .circle {
    box-shadow: 0 0 0 3px #ff000030;
    background-color: #ff0000;
}

.new-version .circle {
    box-shadow: 0 0 0 3px #00ff1930;
    background-color: #30B800;
}

ul.all-scenario-block {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

li.scenario-block.selected {
    border-color: #2289FF;
    background-color: #E9F4FF;
}

li.scenario-block {
    position: relative;
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    /* width: 100%; */
    margin-right: 4px;
    margin-bottom: 10px;
    padding: 9px 13px;
    border-radius: 10px;
    border: 3px solid;
}

    li.scenario-block:hover {
        border-color: #2289FF;
    }

.scenario-option {
    position: absolute;
    right: 10px;
    top: 10px;
}

h6.scenario-nom {
    width: 200px;
    margin: 0 0 10px;
    font-size: 14px;
    font-weight: bold;
}

p.scenario-description {
    margin: 0;
    font-size: 11px;
    color: #989898;
}

p.scenario-code-element {
    text-align: center;
    font-size: 11px;
}

h6.scenario-action {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 6px;
}
/* style drop-box */
.dropdown-box {
    z-index: 999;
    position: absolute;
    width: 132px;
    padding: 6px 5px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0, 0, 0 / 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .dropdown-box > a {
        color: black;
        text-decoration: none;
        border-radius: 4px;
        padding: 5px 10px;
        display: flex;
        flex-direction: row;
    }

        .dropdown-box > a:hover {
            background-color: #f6f6f6;
            color: #0071CE;
            cursor: pointer;
        }

    .dropdown-box a svg {
        width: 17px !important;
        height: 17px !important;
        margin-right: 10px;
    }

    .dropdown-box a span.option-label {
        font-size: 14px;
        font-weight: bold;
    }

/*
                                                                                             *  STYLE SCROLLBAR NAV
                                                                                             */
.all-scenario-new-block {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 310px;
}
    /*.new-version .all-scenario-new-block {
                                                                                                max-height: 450px;
                                                                                            }*/

    .all-scenario-new-block::-webkit-scrollbar,
    #parent::-webkit-scrollbar {
        height: 7px;
        width: 7px;
    }

    .all-scenario-new-block::-webkit-scrollbar-thumb,
    #parent::-webkit-scrollbar-thumb {
        background-color: rgb(157, 157, 157);
        border-radius: 10px;
    }

.dd {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.page-content {
    height: 100vh;
    width: 100%;
    background-color: #EDEEF2;
}
.hide{
  display:none;
}
.react-flow__node-mindmap {
  background: white;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 2px 5px;
  font-weight: 700;
}

/* Style du debut et fin de schema */
.rounded{
  display: block;
  
  background-color: #0071CE;
  width:60px;
  height: 60px;
  border-radius: 50%;
}




/* Style pour la fenetre de drag and drop */
.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

/* Style menu drag and drop */
.sidebar {
  /* position: fixed; */
  top: 0;
  width: 50px;
  height: 100%;
  background-color: #2a363b;
  transition: width 0.3s ease;
  border-right: 1px #4d606e solid;
  padding-top: 15px;
}

.sidebar .sidebar-element {
  height: 50px;
  cursor: grab;
  display: flex;
  align-items: center;
  padding: 0 12px;
  text-align: left;
}
.sidebar .sidebar-element:active{
  cursor: grabbing;
}

.sidebar .sidebar-element:hover {
  background-color: #3f5159;
  border-right: 5px #e84a5f solid;
}

.sidebar svg {
  color: #e84a5f;
  min-width: 25px;
}

.sidebar span {
  width: 0;
  height: 0;
  padding: 0 15px;
  transition: width 0.3s ease;
  color: #c9c9c9;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar--open {
  width: 250px;
  transition: width 0.3s ease;
}

.sidebar--open .sidebar-element span {
  display: block;
  width: 100%;
  height: auto;
}

.trigger {
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px 15px;
}